__pycache__
.vscode
geckodriver.log
exceptions.txt

RAN_judetul1.csv
RAN_judetul2.csv
RAN_judetul3.csv
RAN_judetul4.csv
RAN_judetul5.csv
RAN_judetul6.csv
RAN_judetul7.csv
RAN_judetul8.csv
RAN_judetul9.csv
RAN_judetul10.csv
RAN_judetul11.csv
RAN_judetul12.csv
RAN_judetul13.csv
RAN_judetul14.csv
RAN_judetul15.csv
RAN_judetul16.csv
RAN_judetul17.csv
RAN_judetul18.csv
RAN_judetul19.csv
RAN_judetul20.csv
RAN_judetul21.csv
RAN_judetul22.csv
RAN_judetul23.csv
RAN_judetul24.csv
RAN_judetul25.csv
RAN_judetul26.csv
RAN_judetul27.csv
RAN_judetul28.csv
RAN_judetul29.csv
RAN_judetul30.csv
RAN_judetul31.csv
RAN_judetul32.csv
RAN_judetul33.csv
RAN_judetul34.csv
RAN_judetul35.csv
RAN_judetul36.csv
RAN_judetul37.csv
RAN_judetul38.csv
RAN_judetul39.csv
RAN_judetul40.csv
RAN_judetul41.csv
RAN_judetul42.csv

DESCOPERIRI_judetul1.csv
DESCOPERIRI_judetul2.csv
DESCOPERIRI_judetul3.csv
DESCOPERIRI_judetul4.csv
DESCOPERIRI_judetul5.csv
DESCOPERIRI_judetul6.csv
DESCOPERIRI_judetul7.csv
DESCOPERIRI_judetul8.csv
DESCOPERIRI_judetul9.csv
DESCOPERIRI_judetul10.csv
DESCOPERIRI_judetul11.csv
DESCOPERIRI_judetul12.csv
DESCOPERIRI_judetul13.csv
DESCOPERIRI_judetul14.csv
DESCOPERIRI_judetul15.csv
DESCOPERIRI_judetul16.csv
DESCOPERIRI_judetul17.csv
DESCOPERIRI_judetul18.csv
DESCOPERIRI_judetul19.csv
DESCOPERIRI_judetul20.csv
DESCOPERIRI_judetul21.csv
DESCOPERIRI_judetul22.csv
DESCOPERIRI_judetul23.csv
DESCOPERIRI_judetul24.csv
DESCOPERIRI_judetul25.csv
DESCOPERIRI_judetul26.csv
DESCOPERIRI_judetul27.csv
DESCOPERIRI_judetul28.csv
DESCOPERIRI_judetul29.csv
DESCOPERIRI_judetul30.csv
DESCOPERIRI_judetul31.csv
DESCOPERIRI_judetul32.csv
DESCOPERIRI_judetul33.csv
DESCOPERIRI_judetul34.csv
DESCOPERIRI_judetul35.csv
DESCOPERIRI_judetul36.csv
DESCOPERIRI_judetul37.csv
DESCOPERIRI_judetul38.csv
DESCOPERIRI_judetul39.csv
DESCOPERIRI_judetul40.csv
DESCOPERIRI_judetul41.csv
DESCOPERIRI_judetul42.csv

RAN_coord_judetul1.csv
RAN_coord_judetul2.csv
RAN_coord_judetul3.csv
RAN_coord_judetul4.csv
RAN_coord_judetul5.csv
RAN_coord_judetul6.csv
RAN_coord_judetul7.csv
RAN_coord_judetul8.csv
RAN_coord_judetul9.csv
RAN_coord_judetul10.csv
RAN_coord_judetul11.csv
RAN_coord_judetul12.csv
RAN_coord_judetul13.csv
RAN_coord_judetul14.csv
RAN_coord_judetul15.csv
RAN_coord_judetul16.csv
RAN_coord_judetul17.csv
RAN_coord_judetul18.csv
RAN_coord_judetul19.csv
RAN_coord_judetul20.csv
RAN_coord_judetul21.csv
RAN_coord_judetul22.csv
RAN_coord_judetul23.csv
RAN_coord_judetul24.csv
RAN_coord_judetul25.csv
RAN_coord_judetul26.csv
RAN_coord_judetul27.csv
RAN_coord_judetul28.csv
RAN_coord_judetul29.csv
RAN_coord_judetul30.csv
RAN_coord_judetul31.csv
RAN_coord_judetul32.csv
RAN_coord_judetul33.csv
RAN_coord_judetul34.csv
RAN_coord_judetul35.csv
RAN_coord_judetul36.csv
RAN_coord_judetul37.csv
RAN_coord_judetul38.csv
RAN_coord_judetul39.csv
RAN_coord_judetul40.csv
RAN_coord_judetul41.csv
RAN_coord_judetul42.csv